
/*---- WinnerDevs Css Style ---*/

li.menu.single-menu.wd-menu a{
	color:#fff;
	font-weight:600;
}
li.menu.single-menu.wd-menu a:hover{
	color:#25d5e4;
}
li.menu.single-menu.wd-menu.active a{
	color:#25d5e4;
}
li.menu.single-menu.wd-menu a span{
	padding-left:10px;
	padding-top:5px;
}
